.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container {
    background: #1e1e2f;
    padding: 24px;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease;
}

.modal input, textarea {
    border-radius: 10px !important;
    padding: 10px !important;
    width : 100% !important;
}

.modal textarea {
    height: 200px !important;
    resize: none !important;
}

.header {
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.gab_1 {
    gap: 10px;
}

.saveButton {
    background-color: #4caf50;
}

.saveButton:hover {
    background-color: #45a049;
}

.closeButton {
    background: transparent;
    color: #ff6b6b;
    font-size: 18px;
    margin: 0 0 0 10px;
    width: 50px;
}

.closeButton:hover {
    background: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}